* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-size: cover;*/
    /* The image used */
    /* background: url(../images/wood-background-4.jpg) no-repeat center center fixed; */
    /*background: url(../images/website-background-images.jpg) no-repeat center center fixed transparent;*/
	/* background: url(../images/bodyBackGround.jpg) no-repeat center center fixed transparent; */
	/*background: url(../images/truck.jpg) no-repeat center center fixed transparent;*/
    /* Center and scale the image nicely */
    /*background-position: center center;
    background-repeat: no-repeat; */
    background-size: cover;
    z-index: 1;
    color: black;
}

.menu {
    height: 100px;
    /* background-color: #B2D6FF;    /* Medium blue */
    width: 100%;
}

.sidebarLeft {
    /*margin-top: 100px; */
    float: left;
    width: 200px;
    height: auto;
/*	background-color: #F09A9D;    /* Red */
}

.sidebarRight {
    /* margin-top: 100px; */
    float: right;
    width: 200px;
    height: auto;
/*	background-color: gray;    /* Red */
}

.content {
    margin-left:200px;
    margin-right: 200px;
    height: auto;
/*	background-color: #F5CF8E;    /* Yellow */
    float: both;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/* Login screen CSS */
.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}

.info{
    top: 0;
    display: block;
    color: blue;
    font-style: italic;
    padding: 5px;
}

.error{
    top: 0;
    display: block;
    color: red;
    font-style: italic;
    padding: 5px;
}