/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/05/2018, 4:43:00 PM
    Author     : Willem.deSwardt
*/

#container {
  position: relative;
}

#navigation {
  position:absolute;
  width: inherit;
  top: 0; 
  right: 0;
  margin: 0;
}

#navigation li {
  height:auto;
  float:left;
  list-style-type: none;
  width:70px;
  padding:3px;
  border-right:1px solid #3687AF;
  background-color: #015287;
  background-repeat: no-repeat;
  background-position: center 30px;
}

#navigation ul {
  padding: 0;
  margin: 0;
}

#navigation li a {
  color: #FFFFFF;
}